[user]
  name = Travis Nesland
  email = travis@tnez.dev
[github]
  user = tnez
[alias]
  a = add
  aa = add .
  b = checkout -b
  bd = branch -d
  c = commit
  ca = commit --amend
  cm = commit -m
  co = checkout
  copr = pr checkout
  d = diff
  l = log --oneline --graph
  m = merge
  p = !git_publish.sh
  pf = push --force-with-lease
  r = rebase
  ri = rebase --interactive
  s = status
  wt = worktree
  z = stash
  zl = stash list
  zp = stash pop
  zz = stash push -u -m
[init]
	defaultBranch = main
[core]
  editor = "nvim"
  excludesfile = ~/.gitignore
	pager = delta
[delta]
  navigate = true
	light = false
	line-numbers = true
[diff]
  colorMoved = default
[fetch]
  prune = true
[pull]
  rebase = true
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictstyle = diff3
[rebase]
  autosquash = true
