[user]
  name = Travis Nesland
  email = tnesland@gmail.com
[github]
  user = tnez
[alias]
  a = add
  aa = add .
  c = commit
  ca = commit --amend
  cm = commit -m
  co = checkout
  s = status
  z = stash
  zl = stash list
  zp = stash pop
  zz = stash push -u -m
[core]
  editor = vim
  excludesfile = ~/.gitignore
[fetch]
  prune = true
[rebase]
  autosquash = true
