.DS_Store

vim/.vim/plugged
vim/.vim/.netrwhist

# Ignore actual secrets file (only commit .secrets.example)
secrets/.secrets

# Ignore programs that use the config dir, but are not things I want to keep in
# source control
htop/

# Ignore existing stuff until I deal with them
configstore/
fisher/
hub
yarn/
