snippet type "Flow type definition"
type ${1} = ${VISUAL}$0
endsnippet

snippet render "React: render func"
render() {
  return (
    ${VISUAL}$0
  )
}
endsnippet

snippet jsx "React: JSX Block"
<$1 ${VISUAL}$0/>
endsnippet

snippet jsxc "React: JSX Block (with children)"
<$1 ${VISUAL}$0>
</$1>
endsnippet

snippet cn "React: className"
className="${VISUAL}$0"
endsnippet
